@import 'tailwindcss/preflight';
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #ffffff;
}

.dark {
  --foreground: #ffffff;
  --background: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
}
